{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/blog.css") }}"> {% endblock %}
{% block body %}

    <h1>{{ article.title }}</h1>
    <h5>posté le {{ article.date }}</h5>

    <div id="contenu-article">
     <img id="image-article" src="{{ article.image }}">
    <div id="article-cont">{{ article.contenu }}</div>
    </div>
    <div id="main-comment">
        <div id="comment">
            <div id="comment-form">
            {{ form(form) }}
            </div>
           <hr>
            <div id="commentaire">
            {% for comment in comments %}
                {{ comment.user }} le {{ comment.date }}: <br>
                {{ comment }}
                {% if comment.user == app.user.username %}
                    <div id="link-comments">
                <a href="{{ path('comments_edit',{"id":comment.id}) }}"> modifier</a>
                <a href="{{ path('comments_delete',{'id':comment.id}) }}">supprimer</a>
                    </div>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
        </div>
    </div>


  {% endblock %}