{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/blog.css") }}"> {% endblock %}

{% block body %}


    {% for article in articles %}
        <div id="article-main{{ article.id }}">
            <div id="articile-title">
                <h2>{{ article.title }}</h2>
            </div>
            <div id="article-description">
                {{ article.description }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block javascripts %}<script>

    {% for article in articles %}
    document.getElementById('article-main{{ article.id }}').addEventListener("click", function () {

        document.getElementById('article-main{{ article.id }}').style.display ="none";

    });
    {% endfor %}

</script>{% endblock %}