{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/blog.css") }}"> {% endblock %}

{% block body %}

    <div id="article">
    {% for article in articles %}
        <div class="article-main" id="article-main{{ article.id }}">
            <div  id="articile-title">
                <h2>{{ article.title }} <h5>posté le {{ article.date }}</h5></h2>
            </div>
            <div id="article-description">
                {{ article.description }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}<script>

    {% for article in articles %}
    document.getElementById('article-main{{ article.id }}').addEventListener("click", function () {

        document.location.href= "/blog/article{{ article.id }}";

    });
    {% endfor %}

</script>{% endblock %}