{% extends 'base.html.twig' %}

{% block title %}panneau utilisateur {% endblock %}

{% block body %}
    <h2>panneau utilisateur</h2>

    <nav>
    <a href="{{ path('user_new') }}">Crée un nouvel utilisateur</a>
    <a href="{{ path('article_index') }}">Articles</a>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Mot de passe</th>
                <th>Adresse email</th>
                <th>IdRole</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.idRole }}</td>
                <td>
                   <span>{{ include('admin_user/_delete_form.html.twig') }}</span>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">pas 'dentrée dans le tableau</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
