{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <a href="{{ path('show_user') }}"> utilisateur</a>
    <a href="{{ path('article_index') }}">Articles</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>article</th>
                <th>user</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>

                <td>{{ comment.id }}</td>
                <td>{{ comment.article }}</td>
                <td>{{ comment.user }}</td>
                <td>{{ comment.Comment }}</td>
                <td>
                    <span>{{ include('comments/_delete_form.html.twig') }}</span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
